input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 36px;
}

.white-color {
    color: white;
    font-weight: bold;
    text-decoration-color: white}

#sitefooter ul {
    padding: 0px;
    list-style-type: none;
}

